table#productTable.table.table-responsive-sm.table-bordered.table-striped.table-sm.table-light
  thead
    tr
      th(style='width:50px;') Edit
      th Name
      th Type
      th Brand
      th Country
      th Size
  tbody
    - for( let i = 0; i<products.length;i++){
      tr
        td
          button.updateProductButton.btn.btn-light(type="button" data-toggle="modal" data-target="#updateProductModal" data-id=products[i].product_id)
            i.cui-pencil
        td #{products[i].name}
        td #{products[i].type}
        td #{products[i].brand}
        td #{products[i].country}
        td #{products[i].size}
    - }
